<h3>ようこそ！猫の輪へ</h3>
<hr>
<h4>猫の輪って、何ができるの？</h4>
<p>猫の里親を探している人と猫を引き取りたい人を結ぶアプリケーションです。</p>
<h4>開発の動機</h4>
<p>
  私自身が猫を保護した際に、保護猫のサイトを見ていて投稿までのアクションが多過ぎて断念してしまったことがありました。<br>
  また,猫を保護した方達からも「どうやって里親募集をすればいいのか」という質問を多く頂きました。<br>
  その際に、Webサイトを紹介したいが簡単に募集できるサイトがなくて困っていました。<br>
  そのような経緯から、この度開発に至りました。
</p>
<h4>主な特徴</h4>
<p>
  新規投稿時に投稿項目を６項目に絞り、そのうちの４項目を選択式にすることで時間の掛かる投稿作業を短縮して、投稿までの初動を早めた。<br>
  初動の速さにより保護から譲渡までの時間短縮を期待できる。<br>
  猫の状態を詳しく知りたい方もいらっしゃるので投稿後に詳細情報を追加できるようにしてあります。<br>
  PC操作が苦手な方は詳細情報を登録せずともユーザー同士のコメント交換でお互いに必要な情報だけのやり取りもできます。<br>
  GoogleMapAPIの機能により保護した場所を登録することで愛猫家の間で過去に猫が捨てられてしまった場所を<br>
  気にかけてることで猫が捨てられない環境づくりに繋がることを期待できる。<br>
</p>
<h3>より多くの猫たちが幸せになれるように、皆さんで盛り上げていきましょう！</h3>