<section class="full">
  <p class="p1">
    ようこそ！ねこの和へ<br><br>
    保護猫と里親を結ぶアプリケーション
  </p>
  <p class="p2">
    保護した猫の里親をすぐに探してあげたい！<br><br>
    でも、サイトへの登録は難しくてなかなかできない・・・<br><br>
    そんな悩みをお持ちの方でも大丈夫！！<br><br>
    投稿までのアクションが簡単、スムーズ♪<br><br>
    投稿者とダイレクトメッセージもできて面倒な操作も無し！<br><br>
    ぜひ、お試しください。<br>
  </p>
</section>