// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//------------------- 全体CSS -------------------//
h1 {
  text-align: center;
}

h2 {
  padding: 0.5rem 2rem;
  border-bottom: 3px solid #000;
  background: #f4f4f4;
  display: inline-block;
  margin-bottom: 30px;
}

.heading03 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	text-align: center;
  margin-bottom: 20px;
}

.heading03::before,
.heading03::after {
	content: '';
	width: 70px;
	height: 3px;
	background-color: #000000;
}

.heading03::before {
	margin-right: 20px;
}

.heading03::after {
	margin-left: 20px;
}

.nav_btn {
  margin-left: 30px;
}

.background {
  background-image: image-url('header.jpg');
  height: 100px;
  position: relative;
}

.background p {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 3em;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  }

.wrapper {
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 30px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.footer {
  background-color: #ffeeffd3;
  color: #000;
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  bottom: 0;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}


//------------------- postCSS -------------------//

.index_area {
  background-color: rgb(238, 238, 238); 
  padding:  10px; 
  display: flex;
  align-items:stretch;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.index_post {
  margin: 0 5px;
}

.index_comment {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.index_btn {
  margin-left: 30px;
  text-align: center;
}

.post_container {
  display:flex;
  justify-content:center;
  align-items: center;
}

.form_field {
  margin-bottom: 10px;
}

.post_image {
  padding-right: 10px;
}

.post_area {
  text-align: center;
}

.post_show_field {
  margin-left: 30px;
}

table.post_text {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.post_text th,td {
  padding: 5px 10px;
}

.post_text th {
  background-color: #FFDDFF;
  color:  #000;
  font-weight:  normal;
  position:  relative;
  z-index: 10;
}

.post_text td {
  background-color:  #FFEEFF;
  padding-left: 100px; 
  padding-right: 100px;
}

.post_text th::after {
  content:'';
  position:  absolute;
  height: 24px;
  width: 24px;
  background-color: #FFDDFF;
  transform:  rotate(45deg);
  top: 5px;
  right: -12px;
  z-index:  -1;
}

tr {
  border-bottom:  solid #fff;
}

table.post_text_area {
  margin: 0 auto;
  width: 725px;
  border: none;
  border-top: solid 1px #666;
  border-bottom: solid 1px #666;
  border-collapse: separate;
  border-spacing: 0 10px;
  background: #f5f5f5;
  }
  
  table.post_text_area th {
  vertical-align: middle;
  height: 30px;
  width: 30px;
  border-right: solid 1px rgb(206, 206, 206);
  padding-left: 10px;
  margin: 0;
  text-align: left;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  }
  
  table.post_text_area td {
  padding-left: 10px;
  margin: 0;
  height: 30px;
  width: 100px;
  border: none;
  color: #666;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  vertical-align: middle;
  word-break : break-all;
  }

  .search_area {
    margin-left: 100px;
  }